.footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  width: 100vw;
  background-color: #222222;
  height: 4vh;
  font-family: "Montserrat", sans-serif;
}

.text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #edf0f1;
  font-size: 16px;

  /* color: rgba(249, 212, 125, 1); */
}
.fab {
  font-size: 20px;
}
i {
  padding-left: 20px;
  cursor: pointer;
}
a {
  color: #edf0f1;
}
a:hover {
  color: rgb(220, 53, 69);
}

@media (max-width: 767px) {
  .text {
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .text {
    font-size: 8px;
  }
}
