.navBar {
  background-color: #222222;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.navLink {
  height: 300px;
}

.navLink:hover {
  text-decoration: none;
  color: rgb(220, 53, 69);
}
